extends ../layout/index
block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                //- forma de mostrar variables #{pagina} y a como esta abajo
                h1= pagina
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et distinctio quibusdam sint? Nobis voluptatum ea aperiam delectus? Dolorem possimus molestiae aperiam animi consequuntur reprehenderit voluptate itaque soluta veritatis? Harum, ducimus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid enim nobis fugit beatae ab officia nesciunt obcaecati mollitia fuga laboriosam libero iste, aut reiciendis praesentium dolorum? Maiores, distinctio optio?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum doloremque esse neque accusantium. Magnam, molestias autem quia ad tempore sequi? Provident, explicabo dolore minus consequatur enim, cupiditate ducimus velit totam aut eveniet voluptas. Sit iusto amet id voluptates voluptate suscipit magni molestiae quod voluptas, dolore debitis nostrum ipsa hic enim eos neque. Vel, aliquid. Cupiditate, aperiam.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eaque aliquam ex ducimus iure quam commodi nihil nam quaerat. Voluptate laboriosam libero aut dignissimos mollitia repudiandae optio impedit voluptas pariatur.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eaque aliquam ex ducimus iure quam commodi nihil nam quaerat. Voluptate laboriosam libero aut dignissimos mollitia repudiandae optio impedit voluptas pariatur.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eaque aliquam ex ducimus iure quam commodi nihil nam quaerat. Voluptate laboriosam libero aut dignissimos mollitia repudiandae optio impedit voluptas pariatur.